* {
	font-family: "Noto Sans Mono";
	font-size: 12pt;
}

.modules-left {
/*	background-color: #101010;*/
}


.modules-right {
/*	background-color: #101010;*/
}

#workspaces {
}

#workspaces button {
	padding: 0px 6px 0px 6px; 
	color: #ffffff;
	background-color: #101010;
	border-radius: 0;
}


#workspaces button.active { 
	background-color: #227788;
	color: #ffffff;
	border-radius: 0;
}

#workspaces button:hover {
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 0;
}

#window {
	color: #ffffff;
	background-color: inherit;
	padding: 0px 0px 0px 6px;
}

window#waybar {
	background-color: #227788; 
}

window#waybar.empty {
	background-color: #101010;
}

/* weird padding rules */
#backlight,
#battery,
#pulseaudio,
#idle_inhibitor,
#language,
#network,
#clock,
#power-profiles-daemon{
	padding: 0px 6px 0px 6px;
	color: #ffffff;
	background-color: #101010
}
#tray {
	padding: 0px 0px 0px 6px;
	background-color: #101010
}

#pulseaudio.bluetooth {
	color: #ffffff;
	background-color: #227788;
}

#battery.full{
	color: #ffffff;
	background-color: #227788;
}

#battery.warning {
	color: #ffffff;
	background-color: #AA4422;
}

#battery.critical {
	color: #ffffff;
	background-color: #880000;
}

#network.disconnected {
	color: #ffffff;
	background-color: #880000;

}

#idle_inhibitor.activated {
	color: #101010;
	background-color: #ffffff;
}

#power-profiles-daemon.performance {
	color: #ffffff;
	background-color: #AA4422;
}

#power-profiles-daemon.power-saver {	
	color: #ffffff;
	background-color: #226633;
}

#pulseaudio.muted {
	color: #ffffff;
	background-color: #880000;
}
