* {
    font-family: "IBM Plex Font";
    font-size: 16;
}


window#waybar { 
    background-color: #225877; 
    color: #ffffff;    
}


.modules-left {
	background-color: #323232;
	padding: 0px 0px 0px 0px;
}


.modules-right {
	background-color: #323232;
	padding: 0px 0px 0px 0px;
}


#workspaces {
}


#tags button {
	padding: 0px 8px 0px 8px; 
	color: #888888;
}


#tags button.focused { 
	padding: 0px 8px 0px 8px; 
	background-color: #285577;
	color: #ffffff;
}


#mode { 
	 background-color: #900000;
	 color: #ffffff;
     padding: 0px 8px 0px 8px;
     border: 1px solid #2f343a;
}


#window {
	 color: #ffffff;
	 background-color: #285577;
     padding: 0px 8px 0px 8px;
}


window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}


window#waybar.empty {
	background-color: #323232;
}


#network, #backlight, #pulseudio, #battery , #tray {
    padding: 0 8 0 8;
}
/* goofy ahhh waybar*/
#power-profiles-daemon{ padding: 0 0 0 8 }
#clock{padding: 0 0 0 0 }

#battery.critical {
   color: #ff5555;
}


#network.disconnected {
    color: #ff5555;
}



